<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recordaty</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="nav-left">
        <a href="#"><img class="logo" src="../static/images/Recordaty.svg" alt="Logo" /></a>
      </div>
      <div class="nav-right">
        <a href="#" id="get-started"
          ><button class="cta-button">Get Started</button></a
        >
        <a href="#" id="login">Login</a>
        <a href="profile.html" id="profile">Profile</a>
      </div>
    </header>
    <main>
      <section class="hero">
        <img src="../static/images/medical.jpg" alt="Background Image" class="hero-image" />
        <div class="hero-content">
          <h1>Unlock Your Health Journey: Seamlessly Digital, Simply Easier</h1>
          <button class="cta-button" id="popup-get-started">Get Started</button>
        </div>
      </section>
    </main>
    <footer>
      <div class="social-icons">
        <a href="#"
          ><img src="../static/images/linkedin-round-svgrepo-com.svg" alt="LinkedIn"
        /></a>
        <!-- <a href="#"><img src="facebook-svgrepo-com.svg" alt="Facebook" /></a> -->
        <a href="https://github.com/MostafaAlaa297/Recordaty"
          ><img src="../static/images/github-svgrepo-com.svg" alt="GitHub"
        /></a>
      </div>
      <p>All rights reserved to M&Y Team ©2024</p>
    </footer>
    <!-- Popup -->
    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close">&times;</span>
        <form>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <label for="age">Age</label>
          <input type="number" id="age" name="age" />
          <label for="gender">Gender</label>
          <input type="text" id="gender" name="gender" />
          <label for="phone1">Phone number</label>
          <input type="tel" id="phone1" name="phone1" />
          <label for="phone2">Phone number</label>
          <input type="tel" id="phone2" name="phone2" />
          <button type="submit" class="popup-button">Sign Up</button>
          <hr />
          <button type="button" class="popup-button google">
            <img
              class="google-signup-logo"
              src="../static/images/google-svgrepo-com.svg"
              alt="google-signup"
            />
            <span class="google-signup-text">Sign up with Google</span>
          </button>
        </form>
      </div>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
